<div class="app-layout">
  <nn-header></nn-header>

  <mat-sidenav-container class="app-layout__container">
    <mat-sidenav
      class="app-layout__sidenav"
      #sideNav
      [opened]="isNavOpen"
      disableClose
      mode="side"
    >
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ipsum,
        quas, non sit blanditiis corrupti eos qui ullam ab mollitia repellendus
        similique minus quidem labore pariatur! Consectetur modi blanditiis
        dolor ab aperiam est minus inventore, nesciunt adipisci molestias, illo
        a ipsa sequi nobis dicta, illum esse assumenda rem pariatur placeat
        quisquam doloremque atque! Atque possimus deserunt rem, ut nisi dolores,
        eligendi, quas praesentium eius perferendis soluta? Temporibus nemo nam
        eum voluptas repellat expedita ullam amet!
      </div></mat-sidenav
    >

    <mat-sidenav-content class="app-layout__content">
      <div class="app-layout__sidenav-toggler">
        <button mat-flat-button (click)="handleSideNavTogglerClick()">
          <mat-icon>{{ sideNavTogglerIcon }}</mat-icon>
        </button>
      </div>
      <div class="app-layout__content-inner">
        <ng-content></ng-content>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aliquam
          autem illum, est, excepturi eos nemo eaque, quis laborum impedit
          reiciendis aspernatur! Consequatur beatae nam aliquid id minus,
          doloremque hic? Inventore, eos? Fugiat et voluptatum molestias
          voluptas aut aliquam, ipsam facere? Dolores iusto, dicta voluptatem,
          nisi, corrupti perspiciatis doloremque minus quod animi accusamus
          voluptate nemo ratione adipisci! Enim, sequi placeat? Voluptas rem
          pariatur beatae vel error voluptatum obcaecati autem fuga saepe animi
          dolorum tempore voluptate alias quasi eveniet ullam neque rerum sequi
          soluta earum, omnis tempora? Alias eum ipsum laborum earum,
          consectetur ab debitis. Consectetur possimus consequatur optio
          suscipit facilis, hic, maxime dolore recusandae totam reiciendis a
          quas mollitia corrupti aliquam exercitationem voluptatibus voluptate
          asperiores deleniti enim repellendus pariatur laboriosam explicabo id.
          Doloremque iusto veniam minus, nemo sapiente ut, molestiae nostrum ex
          officia neque ipsa mollitia officiis quod quos unde aut! Aut placeat
          et veniam praesentium, aliquid dolores nesciunt vel corporis sapiente
          odio! Aliquid quos vitae sint ea, quae error qui fugit odit, quis
          doloribus maiores id accusamus facilis. Cupiditate reprehenderit
          ratione atque, saepe quidem architecto cum dolores aliquam, quae
          corrupti asperiores facere at voluptate odio quam, exercitationem
          laborum inventore eum? Obcaecati, et quis! Laudantium voluptates quia
          aliquam porro molestiae iste blanditiis animi voluptate nam
          laboriosam! Expedita quidem accusamus id labore voluptatum. Quasi
          veritatis, exercitationem quibusdam error quaerat et beatae! Nostrum
          quo, repellendus quibusdam illo doloribus corrupti dolorum quaerat,
          distinctio, totam at eligendi maxime sapiente nisi minus optio.
          Consequuntur officiis illo nobis dolore voluptatem unde rem magnam
          quasi consequatur veritatis ab sapiente ipsa quaerat voluptate alias
          asperiores, aperiam numquam hic iste molestiae eius aspernatur.
          Distinctio ut consectetur nostrum repellendus, explicabo illo corporis
          laboriosam nam? Impedit, facere enim tempore, minus ab sed dolorum,
          dolore autem unde iusto quibusdam! Tempore labore voluptatem enim!
          Nisi quae sapiente dolor optio inventore ipsa recusandae corrupti
          provident! Officiis totam exercitationem, obcaecati quidem nostrum
          voluptatem non facilis nemo delectus ut! Nemo magnam voluptate sint
          commodi veniam culpa voluptates animi magni unde. Tenetur qui minus
          tempore repellendus quisquam. Porro iste tempore sunt qui fugiat eius
          autem odit reiciendis esse ab, aut ipsa quo sapiente possimus velit,
          cupiditate repellendus excepturi repudiandae unde deserunt accusantium
          a iure eos! Aut accusantium eveniet doloremque amet ullam, maxime
          dignissimos aliquam consectetur impedit fugit accusamus, libero optio
          eligendi eius porro voluptate quod quis nemo dolor magnam suscipit
          quibusdam ad voluptas? Molestias non quaerat est dolor enim quasi
          culpa provident dolores! Alias, enim ducimus? Illo ut mollitia
          officia? Dolorem ducimus provident iste ipsam mollitia ipsum dolore
          fugit autem magni, rem est vero adipisci tempora voluptatum nisi
          sapiente. Recusandae dolores est voluptatibus quo at quae eos harum
          accusamus numquam vel, delectus ipsam eum molestiae fuga enim et ex
          nulla sequi vitae saepe reprehenderit nostrum sed? Eligendi veritatis
          corporis iste ipsum maxime voluptatum officiis quisquam vitae
          distinctio earum! Ipsa numquam voluptate aperiam fuga dolor rem saepe!
          Eligendi, atque laboriosam natus voluptatem fuga reiciendis
          necessitatibus nobis minus. Mollitia quisquam similique non? Odio
          sapiente, possimus laudantium minus aut officia? Non dolor molestiae
          voluptates nihil debitis facilis quidem quibusdam amet dicta natus rem
          et saepe quisquam placeat distinctio, quis soluta optio. Quae neque
          sunt corporis deserunt, minus aspernatur in accusamus facilis sed
          tempore perferendis enim quam totam nemo! Odit ea magnam voluptatem
          recusandae reiciendis! Suscipit exercitationem aspernatur corporis
          nisi odit repudiandae qui placeat soluta. Repellendus excepturi quas
          nobis sunt ipsa quod officiis, voluptas totam illum reiciendis rerum!
          Vel quas, aspernatur fugit molestiae suscipit repudiandae? Enim
          corporis iste consequatur magnam doloremque voluptas. Hic cumque
          soluta quam earum assumenda odit eos voluptatem! Molestias vitae esse
          aut. Placeat a aspernatur perspiciatis soluta expedita eveniet porro
          beatae, cumque repellat! Quos labore molestias molestiae nam debitis
          odio possimus enim earum delectus sit sunt voluptates, itaque soluta
          laboriosam neque deleniti harum tempore? Nemo vel saepe magni quidem
          debitis tenetur pariatur commodi sint corrupti mollitia ipsa atque
          quibusdam dignissimos distinctio tempora numquam eius molestiae facere
          assumenda culpa error animi, beatae delectus! Debitis minus culpa
          ratione iste quasi modi, odio id iure illo eligendi magnam nemo at
          nihil vitae, itaque qui eum voluptate adipisci in dolore! Animi
          assumenda nemo magni ipsa ab omnis sed ex, nostrum, repellat corrupti
          quos odio fugiat. Voluptate ducimus aliquid facere cupiditate sed
          temporibus alias pariatur provident totam eos blanditiis atque
          expedita incidunt laudantium nulla dicta, quasi excepturi nisi laborum
          error magni? Doloremque atque eveniet ad adipisci ab expedita, omnis
          temporibus ipsum quibusdam voluptatum eos, voluptas placeat pariatur
          ex, soluta nisi cupiditate? Quibusdam temporibus consequatur sed ex
          doloremque dolor, quaerat illo consequuntur labore suscipit quisquam,
          quidem, ducimus fugiat earum facilis mollitia cum ullam! Repellendus
          minus maiores enim excepturi, cumque veniam laudantium autem labore
          maxime, quis cupiditate quos explicabo commodi laboriosam vitae aut
          officia doloribus ut eum earum ipsa. Laboriosam vel sunt in cumque?
          Molestiae pariatur neque ad rem, repellat, eum itaque ipsum distinctio
          vel corporis nemo ipsam assumenda commodi facere culpa quod vero quis
          harum inventore, vitae saepe nostrum reiciendis nobis? Rem eius
          molestias architecto iure perferendis soluta laudantium in dolorum
          repudiandae asperiores magnam sint, adipisci doloremque nemo dolore?
          Id repellat saepe, hic nam quisquam sed deleniti? Aliquam provident
          consectetur veniam, illum nemo similique tempora eius in impedit earum
          sint, ad accusantium a ea facere nam illo voluptatum unde! Magni nisi
          ex minus nobis veniam temporibus libero eveniet quidem voluptates
          impedit reprehenderit excepturi obcaecati, perspiciatis, ipsa tempore
          facilis qui officia! Voluptate, fugit alias. Pariatur necessitatibus
          officiis cupiditate velit ducimus reprehenderit, minima labore
          blanditiis molestias doloribus dolores? Illum esse iure ducimus odio
          vel mollitia consectetur illo beatae hic repellendus aspernatur minus
          magnam eos quia maxime exercitationem, at corrupti temporibus laborum
          expedita debitis quod. Tempore non ea aperiam numquam dignissimos
          ullam nesciunt natus praesentium itaque sunt, molestiae provident a
          voluptatem nisi consequuntur culpa cupiditate voluptas magnam, in
          sequi libero? Architecto cumque quis dolores minus obcaecati minima,
          voluptate quaerat quod id temporibus, asperiores quasi eveniet numquam
          libero tenetur! Accusantium quos vel ex quam non similique, enim, ea
          sunt et harum perspiciatis eos obcaecati, temporibus voluptas soluta
          consectetur suscipit recusandae error maxime deleniti ullam quibusdam.
          Ullam doloribus sapiente molestiae maxime sed optio veniam, quasi odio
          soluta, blanditiis unde illum. Laborum, qui, voluptatum, ipsa ab
          excepturi laudantium nemo nisi iure blanditiis consectetur itaque quos
          repudiandae rem voluptates. Pariatur perferendis dolores quia
          consectetur quam, reiciendis explicabo. Nihil quisquam accusamus fuga
          quia, reprehenderit voluptates aut consectetur aliquam vero error,
          itaque deserunt facere necessitatibus praesentium. Dolor ab
          repudiandae saepe mollitia nesciunt eum repellat et reprehenderit,
          porro officiis placeat maxime asperiores a voluptatem impedit commodi
          necessitatibus esse iste voluptatibus cumque tenetur. Cum sequi nisi,
          minima beatae laudantium accusamus corrupti architecto assumenda optio
          eius quasi dolorem modi quaerat repellat voluptatem amet rem incidunt
          vitae dolore quia. Voluptatum esse quo repellat! Distinctio,
          consectetur hic perspiciatis quam et illum quae, commodi architecto
          voluptas incidunt quos iure cupiditate dolore placeat consequuntur
          labore reiciendis inventore eligendi recusandae voluptate minus
          molestias in. Eos distinctio doloremque deleniti earum excepturi
          laudantium consequatur, magnam ullam mollitia atque nobis inventore
          incidunt maiores, veritatis deserunt placeat? Deserunt porro harum
          ullam veniam. Asperiores tenetur corporis doloribus deleniti, unde
          autem. Exercitationem similique beatae vitae architecto facere,
          debitis perferendis odio laboriosam accusamus neque facilis illum,
          harum sunt, ipsa ut maxime odit soluta deleniti quia! Vitae nemo
          officia enim id quam accusamus, quod facilis reiciendis quas sit
          dicta, ut possimus aut voluptas? Repudiandae natus doloribus
          voluptatibus odit laborum, corrupti esse porro reiciendis quam
          perspiciatis dolore eligendi? Veritatis soluta dicta dolore iste
          adipisci dolor fuga suscipit! Velit, nesciunt. Cumque, perspiciatis
          quia ut veritatis voluptate aliquid omnis laudantium vero suscipit,
          corrupti molestias, distinctio inventore! Iure repellat ipsam nemo
          harum corporis? At hic labore a quis vitae unde repellendus. Eaque
          ducimus voluptate veritatis quam error vel ullam, quae maiores, quasi,
          culpa eveniet voluptatibus velit sequi at dignissimos molestiae
          laudantium laborum consequatur quia provident? Reprehenderit libero
          dolore, nobis expedita, pariatur quibusdam quos alias eos ea
          accusantium consequatur reiciendis tempora veritatis rerum aliquid
          tempore temporibus fugiat voluptatem quasi quis earum hic
          necessitatibus provident. Cumque quos quis sint impedit harum adipisci
          rerum iure nihil, eius molestiae quia ad. Voluptate, maiores veniam.
          Ipsum explicabo, architecto voluptatibus maxime mollitia velit ullam
          placeat! Accusantium odit ratione deserunt aspernatur ab praesentium,
          cum non ipsa quos ullam quae nisi earum minima fugit. Fugiat deserunt
          necessitatibus nostrum, tenetur tempore voluptate repellat porro vero,
          alias unde doloremque consequatur impedit quisquam cum est. Commodi,
          eos vitae. Soluta, omnis ullam maxime aut voluptatibus rem ea tempore
          doloribus illum sequi mollitia repudiandae provident delectus,
          asperiores itaque perspiciatis! Reiciendis optio rerum qui commodi
          suscipit tempore voluptatem in officia asperiores non dolores soluta
          aut, ex mollitia quibusdam. Aliquam eaque repellendus maiores
          consequatur, facere sit quae nam similique, eligendi blanditiis,
          deserunt adipisci laborum quia ratione? Earum officia nam distinctio.
          Praesentium rem nostrum nulla error. Doloremque perferendis aut
          pariatur odit facere. Voluptatem sunt officia illum quidem minima
          neque officiis eligendi, tempora aperiam culpa eum rem ea fugiat omnis
          recusandae excepturi nobis quo mollitia repellat quaerat debitis
          quibusdam quam. Magni impedit dicta iusto cumque ea eos neque non id
          aliquam eaque, porro sit illo voluptas quidem reprehenderit fuga
          consectetur, nulla est! Repellat voluptatum perferendis tenetur
          quibusdam at et ratione ab! Mollitia temporibus optio eaque doloribus.
          Incidunt nulla rerum voluptatum esse officiis nostrum ipsa non sit
          officia dolore harum provident minus architecto quis commodi alias at
          tempora sapiente tenetur repellat iure, doloribus temporibus labore
          blanditiis! Illo sint excepturi dolorum soluta commodi accusantium
          aperiam, eligendi voluptatum modi unde aliquam minima nulla molestiae
          deleniti, itaque odio maxime facere officiis beatae maiores! Nihil
          fugit labore necessitatibus numquam quae minima modi esse culpa quia
          praesentium. Quasi, qui in! Sunt ipsam mollitia consequatur provident
          sapiente culpa exercitationem quam officia perferendis optio tempore
          deserunt similique veritatis sed iure quidem ab, aut, temporibus unde
          obcaecati nam. Id, cum? Quaerat perspiciatis deserunt illo atque
          voluptates numquam nesciunt, earum consequuntur dolorem eligendi,
          quibusdam repudiandae nulla accusantium beatae voluptatibus id maiores
          quisquam minus similique alias laboriosam! Reprehenderit laboriosam
          minus non adipisci aliquid rem quis ipsam molestiae sequi!
          Reprehenderit incidunt dolores quisquam deserunt tempora sint
          veritatis sapiente similique quibusdam rerum ducimus debitis, officiis
          facere, inventore voluptatum accusantium a. Error deleniti minima in
          consectetur quibusdam debitis nesciunt ea beatae quas asperiores
          explicabo corrupti, dolorum suscipit commodi corporis fugit autem
          libero nobis minus? Quia architecto dolorem blanditiis aliquam minus
          hic repellendus molestiae delectus provident necessitatibus numquam
          commodi quas placeat consectetur, aspernatur vero tenetur dignissimos!
          Odit iure id illo, numquam eligendi quam consequuntur cum ab nobis!
          Atque eligendi blanditiis earum quia libero tempora accusantium. Optio
          qui animi debitis dicta consequatur explicabo doloremque ut voluptates
          earum porro aliquid suscipit voluptas eos possimus, mollitia dolorem
          molestias cumque dignissimos pariatur, veritatis omnis dolores at!
          Consequatur possimus aperiam assumenda necessitatibus saepe ab sit!
          Cumque, voluptatem totam soluta eum, dolore sequi aspernatur,
          voluptate in ad aliquid veritatis? Similique, odio optio deleniti nemo
          quidem pariatur, nam quod reiciendis quibusdam aliquid accusantium
          consectetur nisi ducimus quae, velit inventore at debitis ex iste
          iusto hic porro est officia? Possimus porro rerum ipsam id. Asperiores
          amet consequatur ab sapiente deserunt dolorum iusto in officiis
          voluptatem officia. Alias ratione doloribus deserunt, minima, nemo at
          repellendus nam magni labore eum perferendis voluptates aut tempora
          excepturi magnam ab optio ex cupiditate sed quis veritatis tenetur
          odio! Provident ipsum nostrum qui odio repudiandae laboriosam facilis
          eligendi impedit voluptatum. Laboriosam vel repellendus enim facilis
          eum, atque magni, ab tempora porro, voluptatem totam recusandae
          corrupti culpa. Neque libero consequatur aut quidem inventore, totam
          illo. Nemo pariatur id molestias temporibus assumenda laboriosam dolor
          sequi asperiores, ad ab obcaecati, voluptates nostrum minima, ducimus
          iusto. Non nulla eius iusto ea explicabo, mollitia sit fugiat sequi
          optio accusamus labore saepe excepturi cumque, dolorum tempore eos aut
          voluptatum aperiam quae autem sapiente dignissimos consequuntur?
          Perspiciatis, porro sed, accusantium cum id iure similique iste
          voluptatum nam quas voluptatem nulla saepe ducimus amet nobis
          voluptatibus nemo dolores provident ipsam, illum nihil aperiam sequi.
          Deleniti facere ipsa quae placeat sit, velit obcaecati voluptates
          dicta veniam provident, fugit quod ut excepturi unde sapiente nemo
          inventore alias molestiae assumenda illo. Totam in tempore ducimus
          quam qui nulla quos quia culpa minima! Odit incidunt iste ad. Nemo
          alias sunt explicabo magni minus possimus eos quia cumque laboriosam
          velit. Aperiam praesentium impedit nesciunt eaque, placeat culpa
          corporis necessitatibus ipsa neque accusamus.
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
