<mat-card class="example-card">
  <mat-card-title class="form-title">Добавить товар</mat-card-title>

  <mat-card-content>
    <form [formGroup]="form">
      <hac-text-input
        [control]="form.controls.name"
        [label]="'Название продукта'"
        [placeholder]="'Введите название продукта'"
        [id]="'product-name'"
      ></hac-text-input>

      <hac-numeric-input
        [control]="form.controls.price"
        [label]="'Стоимость'"
        [placeholder]="'Введите стоимость продукта'"
        [id]="'product-price'"
      ></hac-numeric-input>

      <hac-single-select
        [control]="form.controls.singleSelect"
        [label]="'Просто тест сингл селекта'"
        [data]="singleSelectiItems"
      ></hac-single-select>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Примечания</mat-label>
        <textarea [formControl]="getControl('notes')" matInput></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="handleSaveClick()">
      Save
    </button>

    <button mat-raised-button color="primary" (click)="toggleFormDisabling()">
      Toggle form disabling
    </button>
  </mat-card-actions>
</mat-card>
