<mat-card class="example-card">
  <mat-card-title class="form-title">Добавить товар</mat-card-title>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Название товара</mat-label>
        <input
          type="text"
          matInput
          [formControl]="getControl('name')"
          placeholder="Введите название товара"
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Стоимость</mat-label>
        <input
          type="text"
          matInput
          [formControl]="getControl('price')"
          placeholder="Введите стоимость товара"
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Примечания</mat-label>
        <textarea [formControl]="getControl('notes')" matInput></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="handleSaveClick()">
      Save
    </button>
  </mat-card-actions>
</mat-card>
