<mat-form-field class="single-select" appearance="fill">
  <mat-label>{{ label }}</mat-label>

  <mat-select [formControl]="control" [disabled]="disabled">
    <mat-option
      *ngFor="let option of data"
      [disabled]="control.value === option.value"
      [value]="option.value"
    >
      {{ option.viewValue }}
    </mat-option>

    <div [ngClass]="{ 'single-select__footer': showClearButton }">
      <button
        *ngIf="showClearButton"
        mat-raised-button
        color="primary"
        [disabled]="!control.value"
        (click)="handleClearClick()"
      >
        {{ clearButtonText }}
      </button>
    </div>
  </mat-select>
</mat-form-field>

<mat-progress-bar
  *ngIf="isLoading"
  class="single-select__progress-bar"
  mode="indeterminate"
></mat-progress-bar>
