<div class="tabs">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <ng-container
      *ngFor="let tab of tabs$ | async; index as i; trackBy: trackByFn"
    >
      <div class="tab">
        <a
          mat-tab-link
          class="tab__link"
          [active]="tab.isActive"
          (click)="handleTabClick(tab)"
        >
          <mat-icon class="tab__icon" *ngIf="tab.icon">{{ tab.icon }}</mat-icon>
          <span class="tab__label">{{ tab.label }}</span>
        </a>

        <button
          mat-icon-button
          class="tab__close-button"
          (click)="handleCloseTabClick(tab)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </ng-container>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>
